.container_navbar{
    background-color: aliceblue;
    color: black;
    font-size: x-large;
    margin: auto;
    padding-left: 10px;  
}
.nav__link {
    text-decoration: none;
    color: black;
}

.container_navbar ul {
    list-style: none;     
}

